<%
    if(typeof author === 'undefined') { author = ''; }
    if(typeof keywords === 'undefined') {
        keywords = '';
    } else if (typeof keywords !== 'string') {
        keywords = keywords.join(',');
    }
    if(typeof description === 'undefined') { description = ''; }
    if(typeof title === 'undefined') { title = ''; }
%>

<meta charset="UTF-8">
<meta name="author" content="<%= author %>">
<meta name="keywords" content="<%= keywords %>">
<meta name="description" content="<%= description %>">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title><%= title %></title>